/* ==============================================
 * ボタン付き見出し
 * ============================================== */
.with-button {
  display: inline-block;
}








/* ==============================================
 * テキストボックス
 * ============================================== */
.admin-input-component.text {
  position: relative;
  display: inline-block;

  .component {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.3rem 0.5rem 0.3rem;

    &:focus + .label,
    &:not(:placeholder-shown) + .label {
      top: 0.3rem;
      font-size: 0.7rem;
    }
  }

  .label {
    display: block;
    position: absolute;
    top: 0.8rem;
    left: 0.7rem;
    cursor: auto;
    margin: 0;
    transition-duration: 0.15s;
    color: #aaa;
  }
}







/* ==============================================
 * テキストエリア
 * ============================================== */
.admin-input-component.textarea {
  position: relative;
  display: block;

  .component {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.3rem 0.5rem 0.3rem;

    &:focus + .label,
    &:not(:placeholder-shown) + .label {
      top: 0.3rem;
      font-size: 0.7rem;
    }
  }

  .label {
    display: block;
    position: absolute;
    top: 0.8rem;
    left: 0.7rem;
    cursor: auto;
    margin: 0;
    transition-duration: 0.15s;
    color: #aaa;
  }
}







/* ==============================================
 * チェックボックス
 * ============================================== */
.admin-input-component.checkbox .component:checked + .label {
  color: #2271b1;
  font-weight: bold;
}







/* ==============================================
 * セレクトボックス
 * ============================================== */
.admin-input-component.select {
  position: relative;
  display: inline-block;

  .component {
    display: block;
    width: 100%;
    height: 100%;
    max-width: unset;
    min-width: unset;
    margin: 0;
    padding: 1.5rem 0.6rem 0.4rem;
    line-height: 1.0em;
  }

  .label {
    position: absolute;
    top: 0.3rem;
    left: 0.6rem;
    font-size: 0.7rem;
    color: #aaa;
  }
}







/* ==============================================
 * 画像
 * ============================================== */
.admin-input-component.image {
  position: relative;
  display: inline-block;

  .component {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
  }

  .label {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0.3em 1.0em;
  }
}
